<%- include('../partials/header', {page: 'Albums'}) %>

    <body>
      <a href="/">Artists</a>

      <h1>Albums</h1>
      <form action="">
      <div class="form-group">
          <label for="name">Artist Name:</label>
          <input name="name" type="text">
          <button type="submit" class="btn btn-info btn_search">Search</button>
        </div>
      </form>
      <div class="artist_match">
        <form action='/albums/new' method='POST'>
            <label for="selected">Select Artist:</label>
            <select name="selected" class="selected-artist">
            </select>
          <div>
            <label for="album-name">Name of Album:</label>
            <input type="text" name="album" placeholder="Album">
          </div>
          <input class='btn btn-primary' type="submit" value="Submit">
        </form>
      </div>
      <script src="/lib/jquery/dist/jquery.min.js"></script>
      <script src="/js/albums.js"></script>
    </body>
</html>
